<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BrainSicle</title>
    <link rel="stylesheet" href="/static/home.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Rowdies:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <img src="/static/logo.png" alt="BrainSicle" class="logo" />
          <!-- Inside home.html -->
          <li><a href="{{ url_for('games') }}">Games</a></li>
          <li><a href="{{ url_for('chatbot') }}">Chatbot</a></li>
          <li><a href="{{ url_for('reports') }}">Reports</a></li>

          <button class="material-symbols-outlined">
            <a href="{{ url_for('login') }}">person</a>
          </button>
        </ul>
      </nav>
    </header>
    <main class="intro">
      <h1>Welcome to BrainSicle</h1>
      <h3>
        Unlock Your Brain with Brainsicle - Fun, Learning, and Instant Answers!
      </h3>
    </main>
    <!-- <div class="sections-container">
      <div class="section game-section">
        
        <a href="game1.html">
          <img src="static/actiongame.png" alt="Game 1">
          </a>
      </div>
      <div class="section chatbot-section">Chatbot</div>
      <div class="section reports-section">Reports</div>
  </div> -->
    <div class="sections-container">
      <button
        class="section game-section"
        onclick="window.location.href='{{ url_for('games') }}'"
      >
        Games
      </button>
      <button
        class="section chatbot-section"
        onclick="window.location.href='{{ url_for('chatbot') }}'"
      >
        Chatbot
      </button>
      <button
        class="section reports-section"
        onclick="window.location.href='{{ url_for('reports') }}'"
      >
        Reports
      </button>
    </div>
  </body>
</html>
